In [1]:
import os
import re
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r'../data/data.xlsx',converters={'id':str})  # Normally for numeric-like ID field, read in as string
print('id data type:', df.id.dtypes)
df

id data type: object

   id  color quality   sales_dt  unit  price
0  01   blue    good 2018-09-01  10.0   30.0
1  02  green    good 2018-01-27   5.0   20.0
2  03    red     NaN        NaT   NaN    NaN
3  04    red     bad 2018-01-27   2.0    5.0
4  05    red    good 2018-09-01  10.0   20.0
5  06   blue     bad 2018-05-06   6.0   10.0
6  07  green    good 2018-05-07   8.0   30.0
7  08   blue     NaN        NaT   NaN    NaN
8  09   blue     bad 2018-01-27   4.0   10.0
9  10  green    good 2018-09-01  10.0   20.0

### Before aggregation
- check if your data has NAs and understand how the aggregation functions treat NAs

In [3]:
df.quality.count()   # Default pd.Series.count() will NOT count NA rows

8

In [4]:
df.price.nunique()   # Default pd.Series.nunique() will NOT count NA rows

4

In [5]:
print(df.price.sum())        # Default pd.Series.sum() will treat NAs as 0s
print(np.sum(df.price))      # same for np.sum()
print(np.nansum(df.price))   # I prefer np.nansum to explicitly ignore NAs

145.0
145.0
145.0

In [17]:
summary = df.groupby('color',as_index=False).agg({
    'id':'count',                                                          # how many records 
    'quality':'count',                                                     # how many records where quality 
    'sales_dt':['min','max'],                                              # first and last sales date
    
    'unit' :[np.nansum,                                                     # Total Unit
             lambda x: df.loc[df.quality=='good','unit'][x.index].sum()],   # Units where quality=='good'
    
    'price':[pd.Series.nunique,         # unique prices ignoring NAs
             lambda x: (x>=15).sum()]   # count of prices >= 15
}).rename(columns={'quality':'test'})
summary.columns = [level1+'_'+level2 for (level1, level2) in summary.columns.values]
summary

C:\Users\ywang\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\series.py:696: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

,color_,id_count,test_count,sales_dt_min,sales_dt_max,unit_nansum,unit_<lambda>,price_nunique,price_<lambda>
0,blue,4,3,2018-01-27,2018-09-01,20.0,10.0,2.0,1.0
1,green,3,3,2018-01-27,2018-09-01,23.0,23.0,2.0,3.0
2,red,3,2,2018-01-27,2018-09-01,12.0,10.0,2.0,1.0