In [1]:
import os
import re
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../data/data.csv")
print(data.shape)
data[:3]

(601, 15)

,ID,RegionVariable,EXP,H1_0,H1_1,H1_2,H1_3,H2_0,H2_1,H2_2,H2_3,H3_0,H3_1,H3_2,H3_3
0,442135,2,Experienced,1295.0,135.0,523.0,346.0,NaN,240.0,792.0,1407.0,NaN,NaN,305.0,NaN
1,995668,4,Newbie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-160.0,330.0,205.0,765.0
2,675738,5,Newbie,1095.0,135.0,323.0,646.0,818.0,140.0,192.0,807.0,-310.0,130.0,5.0,165.0

#### Long to wide

In [3]:
feature_models = [col for col in data.columns if re.match("H[0-9]_[0-9]",col) is not None]
feature_models

['H1_0',
 'H1_1',
 'H1_2',
 'H1_3',
 'H2_0',
 'H2_1',
 'H2_2',
 'H2_3',
 'H3_0',
 'H3_1',
 'H3_2',
 'H3_3']

In [4]:
features = list(set([ re.sub("_[0-9]","",feature_model) for feature_model in feature_models]))
features

['H3', 'H1', 'H2']

In [5]:
long_df = pd.wide_to_long(data,i=['ID','RegionVariable','EXP'],j='ModelID',stubnames=features,sep="_")
long_df[:10]

                                              H3      H1      H2
ID     RegionVariable EXP         ModelID
442135 2              Experienced 0          NaN  1295.0     NaN
                                  1          NaN   135.0   240.0
                                  2        305.0   523.0   792.0
                                  3          NaN   346.0  1407.0
995668 4              Newbie      0       -160.0     NaN     NaN
                                  1        330.0     NaN     NaN
                                  2        205.0     NaN     NaN
                                  3        765.0     NaN     NaN
675738 5              Newbie      0       -310.0  1095.0   818.0
                                  1        130.0   135.0   140.0

#### Wide to long

In [6]:
data2 = long_df.reset_index()
data2[:10]

       ID  RegionVariable          EXP ModelID     H3      H1      H2
0  442135               2  Experienced       0    NaN  1295.0     NaN
1  442135               2  Experienced       1    NaN   135.0   240.0
2  442135               2  Experienced       2  305.0   523.0   792.0
3  442135               2  Experienced       3    NaN   346.0  1407.0
4  995668               4       Newbie       0 -160.0     NaN     NaN
5  995668               4       Newbie       1  330.0     NaN     NaN
6  995668               4       Newbie       2  205.0     NaN     NaN
7  995668               4       Newbie       3  765.0     NaN     NaN
8  675738               5       Newbie       0 -310.0  1095.0   818.0
9  675738               5       Newbie       1  130.0   135.0   140.0

In [7]:
data2.set_index(['ID','RegionVariable','EXP','ModelID']).unstack(level=3)[:10]

                                     H3                           H1         \
ModelID                               0      1      2      3       0      1
ID    RegionVariable EXP
2627  1              Newbie      -260.0   30.0  -95.0  165.0  1245.0 -115.0
7219  2              Newbie      -210.0  130.0  -95.0  165.0   895.0 -365.0
8640  2              Experienced -410.0  -70.0 -195.0  -35.0   795.0 -165.0
9355  2              Experienced -110.0  430.0  105.0    NaN   795.0  135.0
9619  3              Newbie      -210.0  130.0    5.0  365.0  1095.0  235.0
9770  3              Newbie      -210.0   30.0    5.0  365.0   845.0   35.0
9958  3              Experienced    NaN  230.0  105.0  565.0  1245.0  385.0
12662 1              Experienced -210.0  180.0   55.0  165.0   995.0  135.0
13622 5              Experienced -160.0  180.0    NaN  565.0  1295.0  435.0
14237 5              Experienced -110.0  230.0    5.0  365.0  1095.0  235.0

                                                      H2
ModelID                                2       3       0      1      2       3
ID    RegionVariable EXP
2627  1              Newbie         23.0    46.0  1318.0  -10.0  292.0   607.0
7219  2              Newbie        523.0   346.0   318.0 -260.0  392.0   907.0
8640  2              Experienced   -77.0   246.0   218.0 -160.0   -8.0   607.0
9355  2              Experienced     NaN     NaN   418.0  240.0  792.0  1407.0
9619  3              Newbie        523.0   846.0   618.0  140.0  192.0   807.0
9770  3              Newbie        223.0   646.0   318.0   40.0  292.0  1007.0
9958  3              Experienced  1023.0  1346.0   518.0  240.0  792.0  1407.0
12662 1              Experienced   523.0   846.0   418.0   40.0  392.0  1107.0
13622 5              Experienced     NaN     NaN   818.0  240.0    NaN  2007.0
14237 5              Experienced     NaN     NaN  1018.0  340.0    NaN  1607.0

#### Other functions to customize multi-level indices
    set_index() / reset_index()
    stack() / unstack()
    swaplevel()
    .T

In [8]:
# Comprehensive EG
# Note: the default count with groupby ignores NAs, while len is simple row count for each group that would include NAs
agg = long_df.reset_index().groupby(['RegionVariable','EXP'])[features].agg({'count':len,'mean':np.mean})
agg.columns = pd.Index(agg.columns).str.join("_")
agg.unstack().T.swaplevel().sort_index().T

/Users/xiaoyu7016/anaconda3/lib/python3.6/site-packages/pandas/core/groupby.py:4036: FutureWarning: using a dict with renaming is deprecated and will be removed in a future version
  return super(DataFrameGroupBy, self).aggregate(arg, *args, **kwargs)

EXP            Experienced                                            \
                  count_H1 count_H2 count_H3     mean_H1     mean_H2
RegionVariable
1                    304.0    304.0    304.0  485.919298  486.570470
2                    336.0    336.0    336.0  390.892086  460.381579
3                    312.0    312.0    312.0  442.267606  457.327586
4                    212.0    212.0    212.0  425.569061  464.915842
5                    292.0    292.0    292.0  472.349206  531.399267
6                    108.0    108.0    108.0  470.387097  529.466019

EXP                         Newbie                                            \
                  mean_H3 count_H1 count_H2 count_H3     mean_H1     mean_H2
RegionVariable
1               50.685121    156.0    156.0    156.0  465.053846  518.913043
2               28.414013    128.0    128.0    128.0  507.611111  541.327273
3              -14.715254    156.0    156.0    156.0  460.572519  522.542254
4              -19.130653    156.0    156.0    156.0  355.868217  408.718519
5               30.017794    164.0    164.0    164.0  518.394161  567.363636
6               48.990291     80.0     80.0     80.0  300.984848  423.457143

EXP
                  mean_H3
RegionVariable
1               42.144928
2               56.336634
3                6.628378
4               28.047945
5               46.510067
6               10.447761